.container,
.five-day {
  max-width: 600px;
  padding: 0;
  margin: 0 auto;
  background-color: #98a8b2;
}

body {
  max-width: 600px;
  margin: 0 auto;
}
.enter-city {
  display: inline;
}

.city-input {
  width: 250px;
  line-height: 30px;
}

.current-location {
  font-size: 16px;
  height: 40px;
}

button {
  display: inline;
  max-width: 200px;
}

.card,
.card-body {
  max-width: 600px;
  color: #1c2b2d;
  padding: 0;
  font-family: "Commissioner", sans-serif;
  border-radius: 0%;
}

.summary,
.detailed {
  border: 0;
}

.five-day {
  border: 1px 0px 0px 0px;
}

.summary {
  background-image: url(images/snow.jpg);
}

.enter-city,
.detailed,
.table {
  background-color: #98a8b2;
}

.weather-app {
  margin-top: 40px;
  border: 3px solid;
  max-width: 600px;
}

.summary-text {
  color: #1c2b2d;
  font-weight: 900;
}

.temp-low,
.temp-high,
.current-date-time,
.sun {
  text-align: right;
}

.unit {
  font-size: 20px;
}

.current-date-time {
  margin-top: 10px;
}

.temp-current {
  font-size: 70px;
}

.col-4,
.col-8 {
  padding: 0;
}

.current-city {
  text-align: left;
  font-size: 30px;
}

.table {
  padding: 0;
  color: #1c2b2d;
  font-family: "Commissioner", sans-serif;
}

.day {
  width: 120px;
  text-align: center;
}

.temp-current,
.table td {
  padding: 0;
  text-align: center;
}

.icon {
  font-size: 50px;
}
